:root{
    --color-principal: #0f1074;
    --color-secundario: darkred;
    --color-terciario: black;
    --color-cuaternario: #0084d1;
    --color-quinto: rgb(137, 255, 235);
    --color-sexto: rgb(30, 40, 94);
    --color-fondo: #c1f0ff;
}
body{
    background-color: var(--color-fondo);
    margin: 0 0 40px 0;
    font-family:'Courier New', Courier, monospace;
}
#rahbody{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
}
#rah{
    width: 45vw;
    margin: 0;
}
#chillbody{
    background-color: black;
    margin: 0;
}
#chill{
    width: 100vh;
    margin: 0 auto;
    display: block;
}
.vidheader{
    width: 100vw;
    display: block;
    height: 300px;
    object-fit: cover;
    margin: 77px 0 0 0;
}
header{
    background-color: var(--color-terciario);
    border-bottom: 4px solid black;
}
nav{
    background-color: var(--color-terciario);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.itemnav{
    color: var(--color-cuaternario);
    text-decoration: none;
}
.itemnav:hover{
    font-size: 18px;
    color: var(--color-secundario)
}
#francriollo{
    text-align: center;
    color: var(--color-cuaternario);
    margin: 0;
    padding: 20px;
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-decoration: none;
}
img:is(#redes){
    width: 100vw;
    max-width: 750px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-terciario);
}
#imgtwitter{
    width: 100vw;
    max-width: 509px;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}
#divimgtwitter{
    background-color: var(--color-terciario);
}
.tituloyenlace{
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    background-color: var(--color-principal);
    color: white;
    padding: 20px;
}
#divimgyoutube{
    background-color: #0f0f0f;
}
#imgyoutube{
    object-fit: cover;
    min-height: 176px;
    width: 100vw;
    max-width: 1400px;
    object-position: left center;
}
.irapp{
    margin: 0 30px;
    color: var(--color-quinto);
    text-decoration: none;
}
.irapp:hover{
    font-weight: bolder;
    font-size: 17px;
}
#iframetwitch{
    display: block;
    margin: 0 auto;
    padding: 10px;
}
#diviframetwitch{
    background-color: var(--color-terciario);
}
#divtiktokembed{
    background-color: black;
    padding: 20px;
}
#sectorpc{
    padding: 25px;
    background-color: var(--color-sexto);
    color: white;
}
#diviframeyoutube{
    background-color: #0f0f0f;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#textoyoutube{
    padding: 15px 80px 15px 15px;
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}
#iframeyoutube{
    border: 5px solid black;
    border-radius: 2px;
}