:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightyellow;
}
td, th{
    border: 1px solid black;

}
th{
    background-color: lightblue;
    font-weight: 400;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}